<div class="update-camp d-flex align-items-center justify-content-center">
  <mat-card>
    <mat-toolbar>Rescue Updation</mat-toolbar>
    <form class="example-form d-flex flex-column">
      <mat-form-field>
        <mat-select placeholder="Select District">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Select Camp" aria-label="Number" matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Men" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Women" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Children" value="">
      </mat-form-field>
      <div class="d-flex justify-content-center mt-3">
        <button mat-button class="accent">Send</button>
      </div>
    </form>
  </mat-card>
</div>
