<div class="update-camp d-flex align-items-center justify-content-center">
  <mat-card>
    <form class="example-form d-flex flex-column">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Men" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Women" value="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Children" value="">
      </mat-form-field>
      <button mat-button>Send</button>
    </form>
  </mat-card>
</div>
