.grid-container {
  width: 100%;
  background: rgba(128, 128, 128, 0.050980392156862744);
  h1 {
    padding: 15px 10px 0px 15px !important;
    margin-bottom: 0px;
  }
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.district-overview {
  h1 {
    margin-left: 15px;
    color: #1a0505b0;
  }
  .mat-card {
    padding: 8px;
  }
  h5 {
    color: #000000bd;
  }
}
