<!-- District overview start -->
<section class="district-overview mt-3">
  <h1 class="mat-h2">District Overview</h1>
  <div class="d-flex flex-wrap">
    <div class="col-sm-12 col-12 col-md-12 col-lg-6 pl-0 pl-style">
      <mat-card class="mb-3">
        j
      </mat-card>
    </div>
    <div class="col-sm-12 col-12 col-12 col-md-12 col-lg-6 pr-0 pr-style">
      <mat-card class="pie-chart-container">
        <app-advanced-pie-chart></app-advanced-pie-chart>
      </mat-card>
    </div>
  </div>
</section>
<!-- District overview end -->
