.custom-card {
  padding: 10px 0px 28px 0px;

  @media (min-width: 991px) and (max-width: 1024px) {
    overflow: scroll;
  }

  h2 {
    position: absolute;
    left: 274px;
    top: 32px;
    font-size: 22px;
  }
  .advanced-pie-legend .legend-items-container .legend-items .legend-item {
    margin-right: 45px;
  }
}
