.custom-card {
  padding: 10px 0px 28px 0px;
  h2 {
    position: absolute;
    left: 189px;
    top: 32px;
    font-size: 22px;
  }
  .advanced-pie-legend .legend-items-container .legend-items .legend-item {
    margin-right: 45px;
  }
}
