<div class="custom-toolbar d-flex align-items-center justify-content-center">
  <h3>Kerala Flood Rescue Overview</h3>
</div>
<div class="main-container">
  <div class="d-flex flex-column">
    <h1 class="mat-h2">Relief Camp Overview </h1>
    <app-group-bar-chart style="width:100%"></app-group-bar-chart>
  </div>
  <app-district-overview></app-district-overview>
</div>

<!-- <app-sidenav></app-sidenav> -->

<!-- <app-map></app-map> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-data-table></app-data-table> -->
<ul>
  <li *ngFor="let item of items">
    {{ item | json }}
  </li>
</ul>
<!-- <app-sidenav></app-sidenav> -->
<!-- <app-dashboard></app-dashboard> -->
