// sidenav start
:host {
  display: flex;
  flex-direction: column;
}
.side-nav {
  height: 100vh;
  width: 48px;
  transition: width 1s;
  position: fixed;
  z-index: 1;
  background: white;
}
.side-nav button {
  background: transparent;
  border: transparent;
  color: white;
}
.side-nav li {
  color: white;
  list-style: none;
  padding: 12px 0px 9px 11px;
  line-height: 0;
  display: flex;
}

.sideNavExpand p {
  display: inline-block;
  transition: width 1s;
  padding-left: 24px;
  line-height: 0;
  font-size: 14px;
}
.toolbar {
  background: white;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #f4eeee;
}
.toolbar p {
  margin-bottom: 0px;
}
.toolbar .mat-icon {
  line-height: 1.2;
}
.side-nav i {
  color: black;
}
// sidenav end
.main-container {
  margin: 14px 18px 14px 70px;
}
