.custom-toolbar {
  height: 65px;
  background: white;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2),
    0px 2px 25px 0 rgba(0, 0, 0, 0.28);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  h3 {
    color: #412424;
    font-size: 22px;
  }
}
.main-container {
  margin: 82px 20px 22px 20px;
}
