.sidenav-container {
  height: 100%;
  .sidenav {
    width: 260px;
    box-shadow: 0px 2px 22px 0 rgba(0, 0, 0, 0.2),
      0px 2px 30px 0 rgba(0, 0, 0, 0.35);
    background: #ff3636;
    hr {
      border: 0.5px solid #aeaeae;
      margin: 0px 17px 0px 17px;
    }

    .mat-nav-list {
      margin: 0px 17px 0px 17px;
    }
  }
  .toolbar-custom {
    background: #ff3636;
  }
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
